<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

  <header class="p-3 text-bg-dark">
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logitech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('Features')}}">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('About')}}">About</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  
  <main class="d-flex justify-content-around flex-wrap mt-5 col-xl-15 ">

      <div class="card" style="width: 18rem;">
        <img src="../static/popqw.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Types of cats and cats and their disadvantages.</p>
          <a href="{{url_for('dogs')}}" class="btn btn-primary">Go to card</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../static/dogs2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Dog breeds that require a lot of attention and care.</p>
          <a href="{{url_for('dogs')}}" class="btn btn-primary">Go to card</a>
        </div>
      </div>

        <div class="card" style="width: 18rem;">
          <img src="../static/worD.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Types of parrots and their disadvantages.</p>
            <a href="#" class="btn btn-primary">Go to card</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="../static/qq.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Types of rabbits and their disadvantages.</p>
            <a href="#" class="btn btn-primary">Go to card</a>
          </div>
        </div>

  </main>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>